@page "/recordatoriosT"
@inject RecordatoriosBLL recordatoriosBLL

<EditForm Model="recordatoriosT">
    <DataAnnotationsValidator />

    <a type="button" class="rz-border-radius-4 shadow border border-4 btn-lg btn btn-primary" data-toggle="tooltip" data-placement="right" title="Regresar al menu" href="m_recordatorios" > <i class="oi oi-arrow-circle-left" /></a>
    <br/>
    <p/>

    <div class="shadow bg-white rz-border-radius-4 shadow d-block p-2 border border-4">
        <div class="card-header text-center">
            <h3>Consulta Recordarorios (Tecnicos)</h3>
        </div>
        
        <form class="input-group align-items-end card-body">
            <div class="container overflow-hidden">
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label>Filtro</label>
                        <select class="form-control" @bind="Filtro">
                            <option value="0">Mostrar Lista</option>
                            <option value="1">RecordatorioTecnicoId</option>
                            <option value="2">Dia</option>
                            <option value="3">TecnicoId</option>
                            <option value="4">ProximaFecha</option>
                        </select>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Buscar</label>
                            <div class="input-group">
                                <input type="text" class="form-control" @bind="Criterio" />
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"><i class="oi oi-magnifying-glass" /> Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-striped border-primary">
            <thead class="thead">
                <tr class="table-info shadow text-center border-primary">
                    <th>RecordatorioTecnicoId</th>
                    <th>Dia</th>
                    <th>FroximaFecha</th>
                    <th>TecnicoId</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recordar in recordatoriosT)
                {
                    <tr class="shadow text-center border border-3 border-primary">
                        <td>@recordar.RecordatorioTecnicoId</td>
                        <td>@recordar.Dia</td>
                        <td>@recordar.FroximaFecha.ToString("dd - MM - yyyy")</td>
                        <td>@recordar.TecnicoId</td>
                        <td>@recordar.Descripción</td>
                    </tr>
                    <tr text="shadow text-center border border-3 border-primary">
                        <a href="Recordatorio/@recordar.RecordatorioTecnicoId">Editar</a>(ID - @(recordar.RecordatorioTecnicoId))
                        <a href="Recordatorio/@recordar.RecordatorioTecnicoId">Eliminar</a>(ID - @(recordar.RecordatorioTecnicoId))
                        <p/>
                    </tr>
                }
            </tbody>
            <div style="cursor: pointer; ">
                <h5> Conteo: @recordatoriosT.Count()</h5>
            </div>
        </table>
    </div>
</EditForm>

@code {
    private List<RecordatorioTecnicos> recordatoriosT { get; set; } = new List<RecordatorioTecnicos>();
    private string? Filtro;
    private string? Criterio;
    private async Task Buscar()
    {
        if(Criterio != null)
        {
            switch (Filtro)
            {
                case "1":
                    recordatoriosT = await recordatoriosBLL.GetRecordatorioTecnicos(t => t.RecordatorioTecnicoId.ToString() == (Criterio));
                    break;
                case "2":
                    recordatoriosT = await recordatoriosBLL.GetRecordatorioTecnicos(t => t.Dia.ToString() == (Criterio));
                    break;
                case "3":
                    recordatoriosT = await recordatoriosBLL.GetRecordatorioTecnicos(t => t.TecnicoId.ToString() == (Criterio));
                    break;
                case "4":
                    recordatoriosT = await recordatoriosBLL.GetRecordatorioTecnicos(t => t.FroximaFecha.Day.ToString() == (Criterio) || t.FroximaFecha.Month.ToString() == (Criterio) || t.FroximaFecha.Year.ToString() == (Criterio));
                    break;
            }
        }
        else
        {
            recordatoriosT = await recordatoriosBLL.GetRecordatorioTecnicos(t => true);
        }
    }
}