@page "/Consulta Técnico"
@inject técnicosBLL técnicosBLL;

<EditForm Model="Informacion">
    <DataAnnotationsValidator />
    <div class="card-header">
        <h4>Consulta de técnicos</h4>
    </div>

    <div class="card-body">
        <form>
            <div>

                <button type="button" @onclick="Buscar" class="MiBotontécnico"> <i class="oi oi-magnifying-glass" />
                    Buscar </button>
            </div>
        </form>
    </div>
    <table class="styled-table">
        <thead class="styled-table thead tr">
            <tr class="styled-table tbody tr">
                <th>técnicoId</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Cédula</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th>Usuario</th>
                <th>Clave</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Informacion)
            {
                        <tr class="styled-table tbody tr">
                            <td>@item.técnicoId</td>
                            <td>@item.Nombres</td>
                            <td>@item.Direccion</td>
                            <td>@item.Cedula</td>
                            <td>@item.Email</td>
                            <td>@item.Telefono</td>
                            <td>@item.Celular</td>
                            <td>@item.usuario</td>
                            <td>@item.Clave</td>
                            <td>@item.Fecha</td>
                            <td><a href="técnico/@item.técnicoId">Ver</a></td>
                        </tr>
            }
        </tbody>
        <h6>Conteo: @Informacion.Count()</h6>
    </table>

</EditForm>

@code {

    public técnicos técnico { set; get; } = new técnicos();
    public string? Filtro { get; set; }
    public string? Criterio { get; set; }
    public List<técnicos> Informacion { get; set; } = new List<técnicos>();
    public async Task Buscar()
    {
        Informacion = await técnicosBLL.GetList(o => true);
    }

}