@page "/R_Clientes"
@page "/R_Clientes/{ClienteId:int}"

@inject NotificationService notificacion
@inject ClientesBLL clienteBLL

<EditForm Model="cliente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="shadow d-block p-2 border border-4">
        <div class="card-header text-center">
            <h3>Registro de Clientes</h3>
        </div>

        <div class="border border-4 card card-body">
            <div class="container overflow-hidden">
                <form class="row gy-3">
                    @*ClienteId*@
                    <div class="form-row align-items-center">
                        <div class="col-ms">
                            <label>ClienteId</label>
                            <div class="input-group mb-3">
                                <InputNumber @bind-Value="cliente.ClienteId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary input-group-text"
                                            @onclick="Buscar">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*Nombre*@
                        <div class="col-ms">
                            <label>Nombres </label>
                            <InputText @bind-Value="cliente.Nombres" class="form-control" />
                            <ValidationMessage For="@(() => cliente.Nombres)" />
                        </div>

                        @*Direccion*@
                        <div class="col-ms">
                            <label>Dirección </label>
                            <InputText @bind-Value="cliente.Direccion" class="form-control" />
                            <ValidationMessage For="@(() => cliente.Direccion)" />
                        </div>

                        @*Fecha*@
                        <div class="col-ms">
                            <label>Fecha </label>
                            <InputDate @bind-Value="cliente.Fecha" class="form-control" />
                            <ValidationMessage For="@(() => cliente.Fecha)" />
                        </div>

                        @*Cedula*@
                        <div class="col-ms">
                            <label>Cédula </label>
                            <InputText @bind-Value="cliente.Cedula" class="form-control" />
                            <ValidationMessage For="@(() => cliente.Cedula)" />
                        </div>

                        @*Email*@
                        <div class="col-ms">
                            <label>Email </label>
                            <InputText @bind-Value="cliente.Email" class="form-control" />
                            <ValidationMessage For="@(() => cliente.Email)" />
                        </div>

                        @*Telefono*@
                        <div class="col-ms">
                            <label>Teléfono </label>
                            <InputText @bind-Value="cliente.Telefono" class="form-control" />
                            <ValidationMessage For="@(() => cliente.Telefono)" />
                        </div>

                        @*Celular*@
                        <div class="col-ms">
                            <label>Celular </label>
                            <InputText @bind-Value="cliente.Celular" class="form-control" />
                            <ValidationMessage For="@(() => cliente.Celular)" />
                        </div>

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="mb-3 text-center" display: inline-block>
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                        <i class="oi oi-file" /> Nuevo
                    </button>
                    <button type="submit" class="btn btn-lg btn-success">
                        <i class="oi oi-document" /> Guardar
                    </button>
                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                        <i class="oi oi-trash" /> Eliminar
                    </button>
                </div>
            </div>

        </div>
    </div>

</EditForm>
@code {
    [Parameter]
    public int ClienteId { get; set; }

    public Clientes cliente { get; set; } = new Clientes();

    public List<Clientes> lista { get; set; } = new List<Clientes>();

    protected async override Task OnInitializedAsync()
    {
        if (ClienteId > 0)
        {
            this.cliente.ClienteId = ClienteId;
            await this.Buscar();
        }
        lista = await clienteBLL.GetClientes(o => true);
    }

    private async Task Buscar()
    {
        if (cliente.ClienteId > 0)
        {
            var encontrado = await clienteBLL.Buscar(cliente.ClienteId);
            if (encontrado != null)
            {
                this.cliente = encontrado;
                notificacion.ShowNotification("Registro encontrado", NotificationSeverity.Success);
            }
            else
            {
                notificacion.ShowNotification("Registro no encontrado", NotificationSeverity.Warning);
            }
        }

    }

    public async Task Nuevo()
    {
        cliente = new Clientes();
    }

    private async Task Guardar()
    {
        bool guardado = await clienteBLL.Guardar(cliente);
        if (guardado)
        {
            Nuevo();
            notificacion.ShowNotification("Guardado correctamente.");
        }
        else
        {
            notificacion.ShowNotification("No fue guardado, intentelo de nuevo.", NotificationSeverity.Error);
        }
    }

    private async Task Eliminar()
    {
        var elimino = await clienteBLL.Eliminar(cliente);
        if (elimino)
        {
            Nuevo();
            notificacion.ShowNotification("Eliminado correctamente.");
        }
        else
        {
            notificacion.ShowNotification("No fue eliminado. Actualize el navegador y vuelva a intentarlo.",
            NotificationSeverity.Error);
        }
    }
}
