@page "/Recordatorio"
@page "/Recordatorio/{RecordatorioId:int}"

@inject RecordatoriosBLL recordatoriosBLL
@inject NotificationService recordatorio
@inject ClientesBLL clienteBLL
@inject ICounterViewModel counterViewModel

<EditForm Model="Recordatorio" OnValidSubmit="GuardarRecordatorio">
    <DataAnnotationsValidator />

    <div class="rz-border-radius-4 shadow d-block p-2 border border-4">
        <div class="rz-border-radius-4 shadow card-header text-center">
            <h3>Registro Recordatorios</h3>
        </div>

        <div class="rz-border-radius-4 shadow border border-4 card card-body">
            <div class="container overflow-hidden">
                <form class="row gy-3">

                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">RecordatorioId</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="Recordatorio.RecordatorioId" placeholder="Ingrese un ID"
                                        class="rz-border-radius-4 shadow form-control col-4" />
                                    <div class="input-group-append">
                                        <button type="button"
                                            class="rz-border-radius-4 shadow btn btn-primary input-group-text"
                                            @onclick="BuscarRecordatorio">
                                            <i class="oi oi-magnifying-glass" />
                                        </button>
                                    </div>
                                </div>
                                <ValidationMessage For="@(() => Recordatorio.RecordatorioId)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">Dia</label>
                        <InputNumber @bind-Value="Recordatorio.Dia" placeholder="Ingrese un dia"
                            class="rz-border-radius-4 shadow shadow form-control" />
                        <ValidationMessage For="@(() => Recordatorio.Dia)" />
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">ProximaFecha</label>
                        <InputDate @bind-Value="Recordatorio.FroximaFecha"
                            class="rz-border-radius-4 shadow form-control shadow" />
                        <ValidationMessage For="@(() => Recordatorio.FroximaFecha)" />
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">ClienteId</label>
                        <div class="input-group mb-3">
                            <InputSelect class="rz-border-radius-4 shadow form-select"
                                @bind-Value="Recordatorio.ClienteId">
                                <option value="0" disabled>Seleccione el cliente</option>
                                @foreach (var select in ListaClientes)
                                {
                                    <option value="@select.ClienteId">@select.Nombres</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => Recordatorio.ClienteId)" />
                        </div>
                    </div>

                    <div class="col-md-5">
                        <textarea type="text" class="rz-border-radius-4 shadow text-center form-control shadow"
                            @bind="Recordatorio.Descripción" placeholder="Ingresa una descripcion"
                            style="height: 90px"></textarea>
                        <ValidationMessage For="@(() => Recordatorio.Descripción)" />
                    </div>
                </form>
            </div>
        </div>
        <div class="shadow border border-4 rz-border-radius-4 card-footer d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button type="button" class="rz-border-radius-4 shadow border border-4 btn btn-primary"
                    @onclick="GuardarRecordatorio"> <i class="oi oi-document" />
                    Guardar</button>
                <button type="button" class="rz-border-radius-4 shadow border border-4 btn btn-success"
                    @onclick="EditarRecordatorio"> <i class="oi oi-pencil" />
                    Editar</button>
                <button type="button" class="rz-border-radius-4 shadow border border-4 btn btn-danger"
                    @onclick="EliminarRecordatorio"><i class="oi oi-trash" />
                    Eliminar</button>
            </div>
        </div>

        <div class="rz-border-radius-4 border border-4 shadow card-footer d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button type="button" class="rz-border-radius-4 shadow border border-4 btn btn-danger"
                    @onclick="@(() => BSChat.ShowAsync())"><i class="oi oi-person" />
                    Chat</button>
            </div>
        </div>

        <BSModal Size="Size.ExtraSmall" IsCentered="true" @ref="BSChat">
            <BSModalHeader class="shadow border border-4" OnClick="@(() => BSChat.HideAsync())">Mensajes</BSModalHeader>
            <BSModalBody class="border border-4">
                <div class="card card-body">
                    <div class="container overflow-hidden">
                        <form class="row gy-3">
                            @foreach (var recordar in chat)
                            {
                                <tr>
                                    <td>
                                        <div class="col-18">
                                            <RadzenAlert class="text-white rz-border-radius-4 shadow rz-success rz-series-3"
                                            Icon="account_circle">
                                                <p/>
                                                <br/>
                                                @recordar.Descripción
                                                <p />
                                                @recordar.FroximaFecha.ToString("hh:MM | MM - dd")
                                            </RadzenAlert>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </form>
                    </div>
                </div>
            </BSModalBody>
            <BSModalFooter class="border border-4">
                <form class="input-group align-items-end card-body">
                    <div class="container overflow-hidden">
                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label>Filtro</label>
                                <select class="rz-border-radius-4 border border-4 shadow form-control" @bind="Filtro">
                                    <option value="0" disabled>Seleccione un filtro</option>
                                    <option value=1>ClienteId</option>
                                    <option value=2>Todos Los Mensajes</option>
                                    <option value=3>ProximaFecha</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Buscar</label>
                                    <div class="input-group">
                                        <input type="text"
                                            class="rz-border-radius-4 shadow border border-4 form-control"
                                            @bind="Criterio" />
                                        <div class="input-group-append">
                                            <button type="button"
                                                class="rz-border-radius-4 shadow border border-4input-group-text btn btn-primary"
                                                @onclick="Buscar"> <i class="oi oi-magnifying-glass" /></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </BSModalFooter>
        </BSModal>
    </div>
</EditForm>

@code {

    [Parameter]
    public int RecordatorioId { get; set; }
    public int ClienteId { get; set; }
    public int Filtro;
    public string? Criterio;
    private BSModal BSChat { get; set; } = new BSModal();
    private Clientes clientes { get; set; } = new Clientes();
    private Recordatorios Recordatorio { get; set; } = new Recordatorios();
    private List<Recordatorios> ListaRecordatorios { get; set; } = new List<Recordatorios>();
    private List<Recordatorios> chat { get; set; } = new List<Recordatorios>();
    private List<Clientes> ListaClientes { get; set; } = new List<Clientes>();

    protected async override Task OnInitializedAsync()
    {
        ListaRecordatorios = await recordatoriosBLL.GetRecordatorios(r => true);
        ListaClientes = await clienteBLL.GetClientes(c => true);

        if (RecordatorioId > 0)
        {
            this.Recordatorio.RecordatorioId = RecordatorioId;
            await this.BuscarRecordatorio();
            await this.Buscar();
        }
    }

    private async Task Buscar()
    {
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case 1:
                    chat = await recordatoriosBLL.GetRecordatorios(r => r.ClienteId.ToString() == (Criterio));
                    break;
                case 2:
                    chat = await recordatoriosBLL.GetRecordatorios(c => true);
                    break;
                case 3:
                    chat = await recordatoriosBLL.GetRecordatorios(r => r.FroximaFecha.Day.ToString() == (Criterio));
                    break;
            }
        }
    }

    private async Task BuscarRecordatorio()
    {
        if (Recordatorio.RecordatorioId > 0 || Recordatorio.Dia > 0)
        {
            var encontrado = await recordatoriosBLL.Buscar(Recordatorio.RecordatorioId, Recordatorio.Dia);

            if (encontrado != null)
            {
                this.Recordatorio = encontrado;
                recordatorio.ShowNotification("Recordatorio encontrado", NotificationSeverity.Success);
            }
            else
            {
                recordatorio.ShowNotification("Recordatorio no encontrado", NotificationSeverity.Error);
            }
        }
    }
    private async Task GuardarRecordatorio()
    {
        bool guardo;

        if (Recordatorio.Dia > 32 || Recordatorio.Dia < 1)
        {
            guardo = false;
            recordatorio.ShowNotification("Recordatorio no guardado", NotificationSeverity.Error);
        }
        else
        {
            guardo = true;
            guardo = await recordatoriosBLL.Guardar(Recordatorio);
            Recordatorio = new Recordatorios();
            recordatorio.ShowNotification("Recordatorio guardado", NotificationSeverity.Success);
        }
    }

    private async Task EliminarRecordatorio()
    {
        bool elimino = await recordatoriosBLL.Eliminacion(Recordatorio);

        if (elimino)
        {
            Recordatorio = new Recordatorios();
            recordatorio.ShowNotification("Recordatorio eliminado", NotificationSeverity.Success);
        }
        else
        {
            recordatorio.ShowNotification("Recordatorio no eliminado", NotificationSeverity.Error);
        }
    }

    private async Task EditarRecordatorio()
    {
        bool editar;

        if (Recordatorio.Dia > 32 || Recordatorio.Dia < 1)
        {
            editar = false;
            recordatorio.ShowNotification("Recordatorio no editado", NotificationSeverity.Error);
        }
        else
        {
            editar = true;
            editar = await recordatoriosBLL.Editar(Recordatorio);
            Recordatorio = new Recordatorios();
            recordatorio.ShowNotification("Recordatorio editado", NotificationSeverity.Success);
        }
    }

    private async Task CargarRecordatorio()
    {
        ListaRecordatorios = await recordatoriosBLL.GetRecordatorios(r => true);
    }
}
