@page "/Registro tecnico"
@page "/tecnico/{tecnicoId:int}"

@inject TecnicosBLL tecnicosBLL
@inject NotificationService notificationService

<EditForm Model="tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card shadow-lg">
        <div class="card-header">
            <h3>Registro De Tecnico</h3>

        </div>
        <div class="card-body">
            @*TecnicoId*@
            <div class="form-row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label>TecnicoId</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="tecnico.TecnicoId" class="form-control col-4" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">
                                    <i class="oi oi-magnifying-glass" /> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Nombres*@
            <div class="form-group">
                <label>Nombre</label>
                <InputText @bind-Value="tecnico.Nombres" class="form-control" placeholder="Nombre" />
                <ValidationMessage For="@(() => tecnico.Nombres)" />
            </div>

            @*Direccion*@
            <div class="form-group">
                <label>Dirección</label>
                <InputText @bind-Value="tecnico.Direccion" class="form-control" placeholder="Direccion" />
                <ValidationMessage For="@(() => tecnico.Direccion)" />
            </div>
            @*Cedula*@
            <div class="form-group">
                <label>Cédula</label>
                <InputText @bind-Value="tecnico.Cedula" class="form-control" placeholder="Cedula Ejemplo 123-1234567-8"/>
                <ValidationMessage For="@(() => tecnico.Cedula)" />
            </div>
            @*Email*@
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="tecnico.Email" class="form-control" placeholder="Email "/>
                <ValidationMessage For="@(() => tecnico.Email)" />
            </div>
            @*Telefono*@
            <div class="form-group">
                <label>Teléfono</label>
                <InputText @bind-Value="tecnico.Telefono" class="form-control" placeholder="Telefono ejemplo 123-123-1234" />
                <ValidationMessage For="@(() => tecnico.Telefono)" />
            </div>
            @*Celular*@
            <div class="form-group">
                <label>Celular</label>
                <InputText @bind-Value="tecnico.Celular" class="form-control" placeholder="Celular ejemplo 123-123-1234" />
                <ValidationMessage For="@(() => tecnico.Celular)" />
            </div>
            @*usuario*@
            <div class="form-group">
                <label>Usuario</label>
                <InputText @bind-Value="tecnico.usuario" class="form-control" placeholder="Usuario"/>
                <ValidationMessage For="@(() => tecnico.usuario)" />
            </div>
            @*Clave*@
            <div class="form-group">
                <label>Clave</label>
                <InputText type="password" @bind-Value="tecnico.Clave" class="form-control" placeholder="Clave"/>
                <ValidationMessage For="@(() => tecnico.Clave)" />
            </div>
            @*Fecha*@
            <div class="form-group">
                <label>Fecha</label>
                <InputDate @bind-Value="tecnico.Fecha" class="form-control" />
                <ValidationMessage For="@(() => tecnico.Fecha)" />
            </div>
        </div>
        <h1>
            <span class="text-danger">@mensaje</span>
        </h1>

        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                    <i class="oi oi-file" /> Nuevo
                </button>
                <button type="submit" class="btn btn-lg btn-success">
                    <i class="oi oi-document" /> Guardar
                </button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                    <i class="oi oi-trash" /> Eliminar
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos tecnico { get; set; } = new Tecnicos();
    public String mensaje { get; set; } = "";

    private List<Tecnicos> ListaTecnicos { get; set; } = new List<Tecnicos>();

    protected async override Task OnInitializedAsync()
    {
        ListaTecnicos = await tecnicosBLL.GetList(t => true);

        if (TecnicoId > 0)
        {
            this.tecnico.TecnicoId = TecnicoId;
            await this.Buscar();
        }
    }
    private async Task Buscar()
    {
        if (tecnico.TecnicoId > 0)
        {
            var encontrado = await tecnicosBLL.Buscar(tecnico.TecnicoId);

            if (encontrado != null)
                this.tecnico = encontrado;
        }
        else
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Warning,
                Summary = "No Existe este tecnico"
            });
        }
    }

    public void Nuevo()
    {
        mensaje = "";
        tecnico = new Tecnicos();
    }

    public async Task Guardar()
    {

        bool guardo = await tecnicosBLL.Guardar(tecnico);

        if (guardo)
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Guardado correctamente"
            });

            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        bool elimino;

        elimino = await tecnicosBLL.Eliminacion(tecnico);
        if (elimino)
        {
            Nuevo();
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Fue eliminado correctamente."
            });
        }
        else
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "No fue Eliminado, intentar nuevamente o esta intentado eliminar sin datos."
            });
        }
    }

    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }
}